<html lang="en" style="background-color: beige;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align:center">
    <p style="color:red; font-size: 0.5in;">
        Welcome to Mohammad Gerami's Final Project...
    </p>
    <p style="color:blue; font-size: 0.2in;">
        Service 1 : Upload your json file to interpolating missing time-series data...
    </p>
    <form action="service1" enctype="multipart/form-data" method = "post">
        <div class="wrapper">
            <div class="file-upload">
                <input type="file" name="file"/>
                <i class="fa fa-arrow-up"></i>
            </div>
            <br>
            <input class="sub" type="submit" value="Service1"/>
        </div>
    </form>
    <p style="color:blue; font-size: 0.2in;">
        Service 2 : Upload your json file to interpolate missing time-series data and convert miladi time to shamsi time...
    </p>
    <form action="service2" enctype="multipart/form-data" method = "post">
        <div class="wrapper">
            <div class="file-upload">
                <input type="file" name="file"/>
                <i class="fa fa-arrow-up"></i>
            </div>
            <br>
            <input class="sub" type="submit" value="Service2"/>
        </div>
    </form>
    <p style="color:blue; font-size: 0.2in;">
        Service 3 : Upload your json file to determine out-liers...
    </p>
    <form action="service3" enctype="multipart/form-data" method = "post">
        <div class="wrapper">
            <div class="file-upload">
                <input type="file" name="file"/>
                <i class="fa fa-arrow-up"></i>
            </div>
            <br>
            <input class="sub" type="submit" value="Service3"/>
        </div>
    </form>
    <p style="color:blue; font-size: 0.2in;">
        Service 4 : Upload your json file to balance imbalanced data by several approach...
    </p>
    <form action="service4" enctype="multipart/form-data" method = "post">
        <div class="wrapper">
            <div class="file-upload">
                <input type="file" name="file"/>
                <i class="fa fa-arrow-up"></i>
            </div>
            <br>
            <input class="sub" type="submit" value="Service4"/>
        </div>

    </form>
</body>
</html>